---
interface Props {
    mega: string,
    valor: string,
    NameTable: string
    canaisQtd: string
    BrindeMega: string
}

const { mega, valor, NameTable, canaisQtd, BrindeMega } = Astro.props;
---
<!-- PLANOS -->
<div class="w-[270px] mt-10">
    <!-- COLUNA -->
    <div
        class="h-[690px] w-[270px] bg-[url('/images/bg-column-table.png')] justify-start items-center flex flex-col"
    >
        <!-- MEGA -->
        <div>
            <h3 class="text-green text-5xl mt-12 mb-6">
                {mega}<span class="text-white">MB</span>
            </h3>
        </div>
        <!-- NOME DO PLANO -->
        <div>
            <span class="text-white">{NameTable}</span>
        </div>
        <!-- FIM NOME DO PLANO -->
        <!-- Icones com texto -->
        <div class="-ml-6 mt-4">
            <div class="flex items-center">
                <img class="h-22" src="../../images/Icon-Wifi.svg" alt="Icon-personalizado" />
                <span class="text-white text-sm">Wi-fi Premium</span>
            </div>
            <div class="flex items-center">
                <img class="h-22" src="../../images/Icon-Wifi.svg" alt="Icon-personalizado" />
                <span class="text-white text-sm">Ganhe +<b>{BrindeMega}</b>MB</span>
            </div>
            <div class="flex items-center">
                <img class="h-22" src="../../images/Icon-Wifi.svg" alt="Icon-personalizado" />
                <span class="text-white text-sm">Suporte Premium</span>
            </div>
            <div class="flex items-center">
                <img class="h-22" src="../../images/Icon-Wifi.svg" alt="Icon-personalizado" />
                <span class="text-white text-sm">{canaisQtd} Canais de TV</span>
            </div>
        </div>
          <!-- FIM Icones com texto -->
          <!-- VALOR DO PLANO -->
        <h3 class="text-white text-5xl mt-8">
            <span class="text-xs text-light-blue">R$</span>{valor}
        </h3>
         <!-- FIM VALOR DO PLANO -->
         <a href="https://api.whatsapp.com/send?phone=5561991936935&text=Ol%C3%A1!%20Vim%20do%20site" target="_blank" rel="noopener noreferrer">
            <button class="btn-assine mt-12">ASSINE JÁ</button>
        </a>

    </div>
    <!-- FIM DA COLUNA -->
</div>
<!-- PLANOS -->
